import polars as pl
import jax
import jax.numpy as jnp

class DataLoader:
    def __init__(self, batch_size, rng_key):
        self.batch_size = batch_size
        self.rng_key = rng_key
        
        df = pl.read_csv("{{ file_path }}" , separator="{{ separator }}")
        
        features = {{ features | json_encode() }}
        num_features = len(features)
        targets = {{ targets | json_encode() }} 
        num_targets = len(targets)
        seq_len = {{ sequence_length }}

        self.X_flat = df.select(features).to_jax(return_type='array')
        
        self.y_flat = df.select(targets).to_jax(return_type='array')


        total_rows = self.X_flat.shape[0]
        if total_rows % seq_len != 0:
             raise ValueError(f"Rows ({total_rows}) not divisible by sequence length ({seq_len})")

        num_samples = total_rows // seq_len

        if len(self._y_flat.shape) == 1:
            self._y_flat = self._y_flat.reshape(-1, 1)

        self._X = self._X_flat.reshape((num_samples, seq_len, num_features))
        self._y = self._y_flat.reshape((num_samples, seq_len, num_targets))

        if self.batch_size > num_samples:
            self.batch_size = num_samples
        self.num_samples = num_samples

    # TODO: Change the iter to permutation
    def __iter__(self):
        for i in range(0, self.num_samples, self.batch_size):
            yield self._X[i : i + self.batch_size], self._y[i : i + self.batch_size]