import jax
import jax.numpy as jnp
from flax import nnx

class GRU(nnx.Module):
    def __init__(self, dim_in: int, n_hidden: int, dim_hidden: int, rngs):
        #self.checkpointer = ocp.StandardCheckpointer()
        self.dim_in = dim_in
        self.n_hidden = n_hidden
        self.dim_hidden = dim_hidden
        self.input_layer = nnx.Linear(self.dim_in, self.dim_hidden, rngs=rngs)
        self.hidden_layers = nnx.List(
            [
                nnx.GRUCell(
                    self.dim_hidden,
                    self.dim_hidden,
                    rngs=rngs,
                    param_dtype=jnp.float32,
                )
                for i in range(self.n_hidden)
            ]
        )

    def initialize_carry(self, batch_size:int, rngs:nnx.Rngs) -> jnp.ndarray:
        carry = []
        for cell in self.hidden_layers:
            carry.append(
                cell.initialize_carry((batch_size, self.dim_hidden), rngs=rngs)
            )
        carry = jnp.array(carry)
        return carry

    def __call__(
        self, carry: jnp.ndarray, inputs: jnp.ndarray
    ) -> jnp.ndarray:
        def step(carry, x):

            x = self.input_layer(x)
            new_carry = []
            for i, cell in enumerate(self.hidden_layers):
                h, x = cell(carry[i], x)
                new_carry.append(h)
            new_carry = jnp.array(new_carry)
            return new_carry, x

        inputs_transposed = jnp.transpose(inputs, (1, 0, 2))

        final_carry, hidden_states_transposed = jax.lax.scan(
            f=step,
            init=carry,
            xs=inputs_transposed,
        )

        hidden_states = jnp.transpose(hidden_states_transposed, (1, 0, 2))

        return hidden_states